body {
    overflow: hidden;
}

.snowflakeDim {
    width: 20px;
    height: auto;
}

.snowflake {
    position: absolute;
}

#snowLevel {
    position: absolute;
    background-color: black;

    width: 100%;
    height: 100%;
    top: 98%;
    left: 0px;
}

.cluster {
    width: 100%;
    height: 25px;
    top: -25px;
    left: 0px;
}

.absolute {
    position: absolute;
}